h5 {
  font-family: Roboto;
}

input{
  border: none;
  width: 90%;
}

input:focus{
  outline: none;
}

.add-button{

  border: none;
  text-align: center;
  font-size: 2rem;
  background-color: #FEF8E0;
  font-weight: lighter;
}
.add-button:hover {
  color: #606C38;
  font-weight: 600;
}

.btn-save{
    background-color: #8C9188;
    color: white;
    font-weight: 600;

}
.btn-save:hover{
    background-color: #6D6C62;
}

.titleCard {
  background-color: #FCF09F;


}

.cardItems {
  background-color: #FEF8E0;
  color: #283618;
}

.card-description {
  font-size: small;
  font-weight: lighter;
  font-feature-settings: "smcp";
  font-family: Calibri;
}

.btn-flaticon{
  font-size: 1.3rem;
}

.list-group-item{
  display: inline-flex;
}

@media (max-width: 400px) {
  .btn-flaticon{
    font-size: 1rem;
  }
}
