<div class="container-lg d-flex justify-content-center py-3">

  <div class=" card cardItems" style="width: 25rem">

    <div class="card-header titleCard">
      <h5 class="card-title">{{record?.name}}</h5>
      <p class="card-text card-description">{{record?.description}}</p>
    </div>
    <ul class="list-group list-group-flush " style="width: 26.5rem">
      <div class="container justify-content-bwteen" >
        <li class="row list-item cardItems list-group-item w-100" *ngFor="let item of record?.items">
          <div class="col-9 py-3">
            <div  class="">
                {{item}}
            </div>

          </div>
          <div class="col-3 py-3 d-flex justify-content-center">
            <i class="fi fi-rr-trash btn-flaticon btn-flaticon-delete" (click)="deleteItem(item)"></i>
          </div>
        </li>
      </div>

      <li class="list-group-item cardItems" style="width: 23rem">
        <div class="container d-flex justify-content-bwteen">
          <input [(ngModel)]="newItem"  class="cardItems" type="text" name="" value="" placeholder="Add new item here">
          <button (click)="addItem()" class="add-button " type="button" name="button">+</button>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="container-lg d-flex justify-content-center">
  <div class="row ">
    <div class="col">
      <button *ngIf="changesMade" [disabled]="!changesMade"  class="btn btn-save" type="button" name="button" (click)="saveRecord()">Save</button>
    </div>
  </div>

</div>
